.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    145deg,
    rgb(132, 241, 190, 1) 0%,
    rgba(132, 241, 190, 1) 50%,
    rgb(146, 96, 194) 50%,
    rgb(169, 114, 221) 100%
  );
  font-family: "Baloo Tamma 2", cursive;
  color: #462f2d;
}
